.row {
    padding-top: 80px;
    min-height: 100vh;
}

.close-button {
    color: white;
}

.bg {
    background-color: #5A5A5A;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
    /*font-size: ;*/
}

.nav-pills .nav-link {
    color: rgba(256, 256, 256, 0.6);!important;
}

.nav-pills .nav-link.active {
    background-color: #424242!important;
    color: white!important;
}

.plus {
    color: white;
    /*right: 10%;*/
}

.list-group {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 100px;
}

.list-group-item {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    color: white;
    box-shadow: 0 1px 1px 0 rgba(0,0,50,0.3);
    background-color: #5A5A5A;
}

ul.space_list a {
    margin-bottom: 1em;
}

.plus-in-list {
    position:fixed;
    bottom:30px;
    color: white;
    left: 30%;
}